@media (max-width: 400px){
  .container-1{
    max-height: 150px;
  }
  .container-1 img{
    height: 150px;
    width: 150px;
  }
  .box-2 a{
    font-size: 20px;
  }
  .container-2{
    max-height: 450px;
    grid-gap: 5px;
    padding: 5px;
  }
  .container-2 div{
    height: 300px;
    width: 100px;
  }
  .container-3{
    height: 300px;
    grid-template-areas: 
    "J J J"
    "K K K";
  }
  .container-3 div{
    font-size: 20px;
    height: 150px;
  }
  .box-7 img{
    height: 100px;
    width: 100px;
  }
  .box-8 img{
    height: 100px;
    width: 100px;
  }
  .container-4{
    height: 150px;
  }
  .container-6{
    height: 400px;
    display: grid;
    grid-template: 1fr 1fr;
  }
  .container-6 div{
     font-size: 20px;
     height: 200px;
     width: 100%;
   }
  .container-7{
    height: 150px;
  }
  .marquee {
    height: 100px;
  }
  .orb {
    width: 25px;
    height: 25px;
    margin: 0 12px;
  }
  .marquee--inner {
    margin: 35px 0;
  }
}